# Project 2: Exact, Transform, Load
---
## Housing Market fluctations in four major cities of Texas

In [1]:
#Import Dependencies

import pandas as pd

In [2]:
#CSV File to be extracted
houseOwn = "Resources/RDC_Inventory_Core_Metrics_Metro_History.csv"

#Read in CSV file
house = pd.read_csv(houseOwn, low_memory=False)

In [3]:
house.head()

,month_date_yyyymm,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202208,35620,"new york-newark-jersey city, ny-nj-pa",1.0,699000.0,-0.0013,0.0167,29805.0,-0.0006,-0.0696,...,1500026.0,-0.0220,-0.0096,40516.0,-0.0099,-0.1075,0.3591,-0.0155,-0.0551,0.0
1,202208,31080,"los angeles-long beach-anaheim, ca",2.0,938492.0,-0.0121,0.0433,15488.0,0.0271,0.3793,...,1925712.0,-0.0301,-0.0874,23645.0,0.0220,-0.0230,0.5274,-0.0069,-0.6262,0.0
2,202208,16980,"chicago-naperville-elgin, il-in-wi",3.0,349950.0,-0.0252,0.0256,19568.0,0.0130,-0.1168,...,509532.0,-0.0145,0.0195,34527.0,-0.0279,-0.2186,0.7645,-0.0804,-0.2277,0.0
3,202208,19100,"dallas-fort worth-arlington, tx",4.0,461450.0,-0.0285,0.1673,16504.0,0.1245,0.8073,...,618640.0,-0.0398,0.0899,28744.0,0.0505,0.2132,0.7421,-0.119,-0.8499,0.0
4,202208,26420,"houston-the woodlands-sugar land, tx",5.0,383000.0,-0.0249,0.0528,20141.0,0.0950,0.2316,...,524434.0,-0.0308,-0.0040,32300.0,0.0306,0.0042,0.6037,-0.1001,-0.3635,0.0

In [4]:
house.columns

Index(['month_date_yyyymm', 'cbsa_code', 'cbsa_title', 'HouseholdRank',
       'median_listing_price', 'median_listing_price_mm',
       'median_listing_price_yy', 'active_listing_count',
       'active_listing_count_mm', 'active_listing_count_yy',
       'median_days_on_market', 'median_days_on_market_mm',
       'median_days_on_market_yy', 'new_listing_count', 'new_listing_count_mm',
       'new_listing_count_yy', 'price_increased_count',
       'price_increased_count_mm', 'price_increased_count_yy',
       'price_reduced_count', 'price_reduced_count_mm',
       'price_reduced_count_yy', 'pending_listing_count',
       'pending_listing_count_mm', 'pending_listing_count_yy',
       'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag'],
      dtype='object')

In [5]:
len(house)

67859

In [6]:
#Filtering out the necessary columns
reduced_house = house[["month_date_yyyymm", "cbsa_code","cbsa_title","average_listing_price"]]
reduced_house.head()

,month_date_yyyymm,cbsa_code,cbsa_title,average_listing_price
0,202208,35620,"new york-newark-jersey city, ny-nj-pa",1500026.0
1,202208,31080,"los angeles-long beach-anaheim, ca",1925712.0
2,202208,16980,"chicago-naperville-elgin, il-in-wi",509532.0
3,202208,19100,"dallas-fort worth-arlington, tx",618640.0
4,202208,26420,"houston-the woodlands-sugar land, tx",524434.0

In [7]:
len(reduced_house)

67859

In [8]:
#collecting data for the four Texas Cities: Dallas, Austin, San Antonio and Houston
texas_house = reduced_house.loc[((reduced_house["cbsa_code"] == "19100") |
                                 (reduced_house["cbsa_code"] == "26420") |
                                 (reduced_house["cbsa_code"] == "41700") |
                                 (reduced_house["cbsa_code"] == "12420")
                                ),:]
texas_house.head()

,month_date_yyyymm,cbsa_code,cbsa_title,average_listing_price
3,202208,19100,"dallas-fort worth-arlington, tx",618640.0
4,202208,26420,"houston-the woodlands-sugar land, tx",524434.0
26,202208,41700,"san antonio-new braunfels, tx",502658.0
33,202208,12420,"austin-round rock, tx",824453.0
920,202207,19100,"dallas-fort worth-arlington, tx",644294.0

In [9]:
len(texas_house)

296

In [10]:
texas_house = texas_house.astype({"month_date_yyyymm":int},errors ='raise')
texas_house.head()

,month_date_yyyymm,cbsa_code,cbsa_title,average_listing_price
3,202208,19100,"dallas-fort worth-arlington, tx",618640.0
4,202208,26420,"houston-the woodlands-sugar land, tx",524434.0
26,202208,41700,"san antonio-new braunfels, tx",502658.0
33,202208,12420,"austin-round rock, tx",824453.0
920,202207,19100,"dallas-fort worth-arlington, tx",644294.0

In [11]:
texas_house["month_date_yyyymm"].dtype

dtype('int32')

In [17]:
#Filter the data for the date range of January 2021 until August 2022

year_texas_house = texas_house.loc[texas_house["month_date_yyyymm"] > 202012]
year_texas_house.tail()

,month_date_yyyymm,cbsa_code,cbsa_title,average_listing_price
16539,202102,12420,"austin-round rock, tx",750325.0
17426,202101,19100,"dallas-fort worth-arlington, tx",550512.0
17427,202101,26420,"houston-the woodlands-sugar land, tx",499078.0
17449,202101,41700,"san antonio-new braunfels, tx",417182.0
17456,202101,12420,"austin-round rock, tx",717682.0

In [16]:
len(year_texas_house)

80

In [ ]:
#To Do
# - rename columns
#- export to a database - PgAdmin